<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmgBCUiyE7y6K2SnXZyCepQ7HGK1OPYVw</string>
	<key>GCM_SENDER_ID</key>
	<string>849426459397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junglehotel</string>
	<key>PROJECT_ID</key>
	<string>jungle-hotel</string>
	<key>STORAGE_BUCKET</key>
	<string>jungle-hotel.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849426459397:ios:83930e5491364b7d95256c</string>
	<key>CLIENT_ID</key>
	<string>849426459397-sautub05pcsa4da9tueabsdc5caf7uki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849426459397-sautub05pcsa4da9tueabsdc5caf7uki</string>
</dict>
</plist>