<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.849426459397-sautub05pcsa4da9tueabsdc5caf7uki</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>849426459397-sautub05pcsa4da9tueabsdc5caf7uki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849426459397-sautub05pcsa4da9tueabsdc5caf7uki</string>
</dict>
</plist>
